.popup__button-sumbit_disabled {
    background: #FFFFFF;
    color: #000000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.popup__button-sumbit_disabled:hover {
    opacity: 1;
    cursor: not-allowed;
}