.header__logo{
    max-width: 8.875rem;
    align-self: flex-start;
    margin: 0 auto 41px 0;
}

@media screen and (max-width: 1023px) {
    .header__logo {
        padding: 0 0 0 27px;
    }
}

@media screen and (max-width: 767px) {
    .header__logo {
        max-width: 103.74px;
        margin: 0 auto 31.6px 27px;
        padding: 0;
    }
}